* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.sizeIndex {
  height: 42rem; }

.row {
  --bs-gutter-x: 0; }

.contenedorVideo {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden; }
  .contenedorVideo video {
    height: fit-content;
    width: 100vh;
    min-height: 400px;
    min-width: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -100; }

.backgroundSeccion {
  background-size: cover;
  background-repeat: no-repeat; }
  .backgroundSeccion h1 {
    font-size: 40px;
    color: white;
    text-transform: uppercase; }
  .backgroundSeccion p {
    font-size: 17px;
    color: white; }

.row {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.backTexto {
  background-color: rgba(0, 0, 0, 0.438);
  border-radius: 10px; }

.padding-header {
  padding: 1rem !important; }

.fotoSobremi {
  padding: 30px 0 30px 1px; }
  .fotoSobremi img {
    height: 300px;
    width: 450px; }

.textoSobremi {
  padding: 30px 0 30px 40px; }
  .textoSobremi h2 {
    color: #fe5b56; }
  .textoSobremi p {
    font-family: 'Lato', sans-serif;
    font-size: larger;
    font-weight: 900; }
    .textoSobremi p span {
      color: black;
      font-weight: bold; }

.tituloServicos {
  color: #fe5b56; }

.cartas {
  margin-top: 3rem;
  height: 25rem; }

@media screen and (max-width: 742px) {
  .fotoSobremi {
    display: flex;
    justify-items: center;
    justify-content: center;
    padding-top: 0; }
  .textoSobremi {
    padding-left: 0; } }

@media screen and (max-width: 455px) {
  .fotoSobremi img {
    width: 325px; } }

.footer {
  height: 30rem; }
