* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.sizeIndex {
  height: 44rem; }

.nav-link {
  border-bottom: 2px solid #fe5b56;
  margin-right: 5px;
  font-weight: 600; }

.row {
  --bs-gutter-x: 0; }

.contenedorVideo {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden; }
  .contenedorVideo video {
    height: 51rem;
    width: 100vh;
    min-height: 400px;
    min-width: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -100; }

.backgroundSeccion {
  background-size: cover;
  background-repeat: no-repeat; }
  .backgroundSeccion h1 {
    font-size: 40px;
    color: white;
    text-transform: uppercase; }
  .backgroundSeccion p {
    font-size: 17px;
    color: white; }

.row {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.backTexto {
  background-color: rgba(0, 0, 0, 0.438);
  border-radius: 10px; }

.padding-header {
  padding: 1rem !important;
  box-shadow: 6px 8px 41px -5px rgba(0, 0, 0, 0.93);
  -webkit-box-shadow: 6px 8px 41px -5px rgba(0, 0, 0, 0.93);
  -moz-box-shadow: 6px 8px 41px -5px rgba(0, 0, 0, 0.93); }
  .padding-header h1 {
    color: #fe5b56; }

.estilosFlecha img:hover {
  width: 70px;
  height: 70px; }

.fotoSobremi {
  padding: 30px 0 30px 1px; }
  .fotoSobremi img {
    height: 300px;
    width: 450px;
    box-shadow: 6px 6px 29px 2px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 6px 6px 29px 2px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 6px 6px 29px 2px rgba(0, 0, 0, 0.26); }

.textoSobremi {
  padding: 30px 0 30px 40px;
  padding-right: 1rem; }
  .textoSobremi h2 {
    color: #fe5b56; }
  .textoSobremi p {
    font-family: 'Lato', sans-serif;
    font-size: larger;
    font-weight: 900; }
    .textoSobremi p span {
      color: black;
      font-weight: bold; }
  .textoSobremi .estilosBoton {
    box-shadow: 10px 5px 29px -6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 10px 5px 29px -6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 5px 29px -6px rgba(0, 0, 0, 0.5); }

.tituloServicos {
  color: #fe5b56; }

.cartas {
  margin-top: 3rem;
  height: 100%; }
  .cartas .estilosCol {
    margin-bottom: 10px; }

.card-title {
  color: #fe5b56; }

.btn a {
  text-decoration: none;
  color: red; }

.btn a:hover {
  color: white; }

.estilosBody {
  background-color: black; }

.estilosCard {
  margin-top: 2rem; }

.estilosOpiniones {
  margin-top: 2rem; }
  .estilosOpiniones p {
    color: #fe5b56; }

@media screen and (max-width: 742px) {
  .fotoSobremi {
    display: flex;
    justify-items: center;
    justify-content: center;
    padding-top: 0; }
  .textoSobremi {
    padding-left: 0;
    padding-top: 50px; } }

@media screen and (max-width: 455px) {
  .fotoSobremi img {
    width: 300px;
    height: 280px; }
  .footer {
    margin-top: 0 !important; } }

.footer {
  margin-top: 10rem;
  height: 100%;
  background-color: black; }

.estilosFooter {
  margin-top: 7rem; }

.letrasFooter {
  color: white;
  padding: 50px 20px 10px 20px; }
  .letrasFooter a {
    text-decoration: none;
    color: #fe5b56; }
