.sizeIndex {
    height: 44rem;
}
.nav-link {
    border-bottom: 2px solid #fe5b56;
    margin-right: 5px;
    font-weight: 600;
}
.row {
    --bs-gutter-x: 0;
}
.contenedorVideo {
    // position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // height: 100%;
    overflow: hidden;
    video {
        height: 51rem;
        width: 100vh;
        min-height: 400px;
        min-width: 100%;
        object-fit: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -100;
    }
}
.backgroundSeccion {
    // background-clip: url(../img/pexels-tima-miroshnichenko-5717289.mp4);
    background-size: cover;
    background-repeat: no-repeat;
    h1 {
        font-size: 40px;
        color: white;
        text-transform: uppercase;
    }
    p {
        font-size: 17px;
        color: white;
    }
}
.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.backTexto {
    background-color: rgba(0, 0, 0, 0.438);
    border-radius: 10px;
}
.padding-header {
    padding: 1rem !important;
    box-shadow: 6px 8px 41px -5px rgba(0,0,0,0.93);
    -webkit-box-shadow: 6px 8px 41px -5px rgba(0,0,0,0.93);
    -moz-box-shadow: 6px 8px 41px -5px rgba(0,0,0,0.93);
    h1 {
        color: #fe5b56;
    }
    
}
.estilosFlecha {
    img:hover {
        width: 70px;
        height: 70px;
    }
    
}