.fotoSobremi {
    padding: 30px 0 30px 1px;
    img {
        height: 300px;
        width: 450px;
        box-shadow: 6px 6px 29px 2px rgba(0,0,0,0.26);
        -webkit-box-shadow: 6px 6px 29px 2px rgba(0,0,0,0.26);
        -moz-box-shadow: 6px 6px 29px 2px rgba(0,0,0,0.26);
    }
}

.textoSobremi {
    padding: 30px 0 30px 40px;
    margin-right: 1rem;
    h2 {
        color: #fe5b56;
    }
    p {
        font-family: 'Lato', sans-serif;
        font-size: larger;
        font-weight: 900;
        span {
            color: black;
            font-weight: bold;
        }
    }
    .estilosBoton {
        box-shadow: 10px 5px 29px -6px rgba(0,0,0,0.5);
        -webkit-box-shadow: 10px 5px 29px -6px rgba(0,0,0,0.5);
        -moz-box-shadow: 10px 5px 29px -6px rgba(0,0,0,0.5);
    }
}
.tituloServicos {
    color: #fe5b56;
}
.cartas {
    margin-top: 3rem;
    height: 100%;
    .estilosCol {
        margin-bottom: 10px;
    }
}
.card-title {
    color: #fe5b56;
}
.btn a {
    text-decoration: none;
    color: red;
}
