@media screen and (max-width: 742px) {
    .fotoSobremi {
        display: flex;
        justify-items: center;
        justify-content: center;
        padding-top: 0;
    }
    .textoSobremi {
        padding-left: 0;
        padding-top: 50px;
    }
}
@media screen and (max-width: 455px) {
    .fotoSobremi img {
        width: 325px;
        
    }
}